{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Registrar
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" method="POST" action="/Registrar" >
        <h2 class="form-signin-heading">Registrate</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.usuario) }}
        {{ wtf.form_field(form.contraseña) }}                    
            <button class="btn btn-default btn-lg btn-primary btn-block" type="submit">Registrarse</button>        
            <a class="btn btn-lg btn-primary btn-block" href="/" type="button">Regresar</a>    
    </form>
</div>
{% endblock %}